<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/mohamed-abdulaziz-logo1.png" type="">
    <title>Mohamed Abdulaziz Alasker Trading Co - Quality Services At Best Price</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="alaskarentrp,alaskarentrp.com,askar market,Mohamed Abdulaziz Alasker Trading Co" name="keywords">
    <meta content="Mohamed Abdulaziz Alasker Trading Co. Supermarkets:Mohamed Alaskar Markets - 
    Quality Products At Best Price Logistic Services: Alrawabit Alhadetha For Logistic Services" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;500;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <script src="removeUrlExtension.js"></script>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row g-0 d-none d-lg-flex ">
            <div class="col-lg-6 ps-5 text-start">
                <div class="h-100 d-inline-flex align-items-center text-light">
                    <a class="me-2 fw-bold text-light" href="indexen.html">Eng</a>
                    <a class="btn btn-link text-light" href="indexen.html"><i><img src="images/mohamed-abdulaziz-t.png"
                                alt="translate icon"></i></a>
                    <a class=" text-light"><i class="fab fa-language"></i></a>
                    <a class="btn btn-link text-light" href="https://www.facebook.com/MohamedAlaskarMarket"
                        target="_blank"><i class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-link text-light"
                        href="https://www.snapchat.com/add/alaskarmarket?share_id=KI3FBXcZSEM&locale=en-IN"
                        target="_blank"><i class="fab fa-snapchat"></i></a>

                    <a class="btn btn-link text-light" href="https://www.instagram.com/mohamedalaskarmarket/"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                    <span class="me-2 fw-bold text-light">تابعنا على </span>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="h-100 bg-secondary d-inline-flex align-items-center text-dark py-2 px-4">
                    <span class="me-2 fw-bold"><i class="fa fa-phone-alt me-2"></i> اتصل بنا :</span>
                    <span> +966 11545 8080</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <a href="https://alaskarentrp.com/" class="navbar-brand d-flex align-items-center"><img width="200"
                src="images/mohamed-abdulaziz-fullogo.png" alt="mohammad alaskar company logo" /></a>
        </a>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" dir="rtl">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="https://alaskarentrp.com/"
                    class="nav-item nav-link {% if request.path == '/' %}active {% endif %}">الصفحة الرئيسية</a>
                <a href="aboutarb.html"
                    class="nav-item nav-link {% if request.path == 'aboutarb.html-us/' %}active {% endif %}">من نحن </a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> أقسام الشركة </a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="retailarb.html" class="dropdown-item">بيع التجزئة</a>
                        <a href="alrawabitarb.html" class="dropdown-item">خدمات النقل اللوجيستي </a>
                        <!--<a href="warehouse.html" class="dropdown-item">Commercial Real Estate</a>-->
                    </div>
                </div>
                <a href="contactarb.html"
                    class="nav-item nav-link {% if request.path == '/contact-us/' %}active {% endif %}">تواصل معنا </a>
                
                <a class="nav-item nav-link fw-bold bi-bi-globe" href="indexen.html">Eng</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Company Detail Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
        <div class="container">
            <div class="row gy-5 gx-4">
                <div class="col-lg-8">
                    <div class="d-flex align-items-center mb-3">
                        <img class="flex-shrink-0 img-fluid border rounded" src="images/mohamed-abdulaziz-logo1.png"
                            alt="company logo" style="width: 80px; height: 80px;">
                        <div class="text-center ps-4">
                            <h3 class="mb-3"> تاريخ الشركة </h3>
                            <span class="text-truncate me-3 fw-semi-bold"><i
                                    class="fa fa-map-marker-alt text-primary me-2"></i> الخرج – طريق الملك سعود </span>
                        </div>
                    </div>

                    <div class="mb-5 py-3 fw-semi-bold">
                        <h4 class="mb-3">تعرف على شركتنا وتاريخها</h4>
                        <p>تأسست شركة محمد عبدالعزيز العسكر في سنة 1400 هـ (1980 م) في مدينة الخرج ,المملكة العربية
                            السعودية , لتقديم خدمة بيع وتوزيع الأغذية والمنتجات الاستهلاكية وبيع الجملة وتوريد المصانع ,
                            خدمات النقل اللوجيستي والتطوير العقاري للأسواق السعودية.
                            تمتلك أسواق محمد العسكر خبرة واسعة في مجال تجارة وتوزيع الأغذية تصل خبراتنا الى اكثر من 40
                            سنة في هذا المجال. تقوم أسواقنا بتوزيع الأغذية بسعر التجزئة من خلال فروعنا في انحاء المملكة
                            العربية السعودية بالاضافة الى البيع والتوريد بسعر الجملة لشركات ....وتوريد منتجات الأغذية
                            للمخازن الصغيرة ومطاعم الوجبات السريعة, المراكز التجارية وغيرها. تحرص شركة محمد العسكر على
                            توزيع الموارد طبقًا لمتطلبات هيئة الغذاء والدواء عن طريق تأمين حالة المنتجات اثناء التخزين,
                            النقل والتوزيع .
                        </p>

                        <h4 class="mb-3">رؤيتنا</h4>
                        <p>
                            إن رؤيتنا هي رؤية وطنية تهدف إلى مواكبة رؤية المملكة العربية السعودية 2030 والتي تتمحور حول
                            التطور والوصول لأحدث وأفضل في وسائل النقل والخدمات لنساهم بشكل فعال في تطور وإزدهار وطننا
                            الحبيب
                            (النص العربي بالموقع في أخطاء املائية يرجى كتابتها كما هو موضح اعلاه)

                        </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-angle-left text-primary mb-2"></i> نطمح لنكون من افضل شركات توزيع
                                الاغذية في المملكة العربية السعودية , والتخصص في توزيع افضل المنتجات المحلية والعالمية
                                من حيث الجودة والأسعار المناسبة
                            </li>
                            <li><i class="fa fa-angle-right text-primary mb-2"></i> التركيز اكثر على شركاء النجاح من
                                عملاء ,موردين وموظفين
                            </li>
                            <li><i class="fa fa-angle-right text-primary mb-2"></i> الالتزام بالجودة والعمل وفقًا
                                للمعايير المهنية .</li>
                        </ul>


                        <div class="d-flex align-items-center mb-5">
                            <img class="flex-shrink-0 img-fluid border rounded" src="images/mohamed-abdulaziz-logo1.png"
                                alt=" ChairmanPic" style="width: 90px; height: 90px;">
                            <div class="text-start ps-3">
                                <h3 class="mb-3"> Managing Director </h3>

                                <span class="text-truncate me-3"><i class=""></i>Mr Abdul Rehaman</span>
                            </div>
                        </div>
                        <p>بسم الله الرحمن الرحيم
                            Allah's Prayers and his peace be upon our Prophet Mohammed the best prophet and
                            messenger.<br><br>

                            Always beginnings are simple, like a plant grows of a seed then becomes after a while a
                            fruitful tree by care and hard work. We have begun the building of the pillars of our
                            group fourty years ago, while the main historical milestone in our business.<br>

                            Mohamed AbdulAziz Al-Askar Group. became a leading service providing firm that contributes
                            to the growth
                            and prosperity of the national economy and a key member in the system of communal
                            development, industrial, service which become the point of strength is to meet our
                            obligations, grow, thrive and maintain strong and long- term relationships with our
                            customers and partners in Saudi Arabia and neighbor Gulf Cooperation Council states.<br>

                            In behalf of all Mohamed AbdulAziz Al-Askar Group. team members, you are cordially invited
                            to browse
                            through our Website to learn more about products and service available in our business list.

                        </p>
                        <ul class="list-unstyled">
                            <li>Thank you and Allah bless you.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bg-light rounded p-5 mb-4 wow slideInUp fw-semi-bold" data-wow-delay="0.1s">
                        <h4 class="mb-4">Super Markets</h4>

                        <p><i class="fa fa-angle-left text-primary me-2" class="btn btn-link" href=""></i><a
                                href="retailarb.html"> الخزامى</a></p>
                        <p><i class="fa fa-angle-left text-primary me-2"></i><a href="retailarb.html"> الاندلس</a>
                        </p>
                        <p><i class="fa fa-angle-left text-primary me-2"></i><a href="retailarb.html"> السوق القديم</a>
                        </p>
                        <p><i class="fa fa-angle-left text-primary me-2"></i><a href="retailarb.html">  الفيصلية</a>
                        </p>
                        <p><i class="fa fa-angle-left text-primary me-2"></i><a href="retailarb.html"> الحوطة</a></p>


                    </div>
                    <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                        <h5 class="mb-4"><a href="alrawabitarb.html"> الروابط الحديثة للخدمات اللوجيستية </a></h5>
                        <p class="m-0 fw-semi-bold">منذ اكثر من 30 سنة بدأت الروابط الحديثة في تقديم خدماتها اللوجيستية المتكاملة عن
                            طريق توفير أسطول كامل من الشاحنات الحديثة وسائقين مدربين ومتخصصين في هذا المجال.
                        </p>

                    </div>

                    <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4"><a href="aboutarb.html">قطاع المخازن </a></h4>
                        <p class="m-0 fw-semi-bold">نملك أكثر من 20 مخزن موزعه في انحاء المملكة العربية السعودية تشمل مخازن عادية و
                            متخصصة لتخزين المنتجات المفرزنة والباردة . ويتم مراقبة مخازننا باستمرار عن طريق نظام متعدد
                            المستويات للتأكد من تخزين المنتجات بشكل احترافي وجيد</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Company Detail End -->


    <!-- Banner Start -->
    <div class="container-fluid banner my-3 py-3" data-parallax="scroll" data-image-src="img/banner.jpg">
        <div class="container py-3">
            <div class="row g-5 fw-semi-bold">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="images/values.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-black mb-3">Our Vision</h2>
                            <p class="text-black mb-4">Our vision is a national vision in accordance with Saudi Arabia's
                                vision 2030. It focuses on development and reaches out to the latest and best
                                services. This contributes effectively to the development and prosperity of our
                                beloved
                                Nation.</p>
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="aboutarb.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="images/vision2030.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-black mb-3">: رؤيتنا</h2>
                            <p class="text-black text-center mb-4">
                                إن رؤيتنا هي رؤية وطنية تهدف إلى مواكبة رؤية المملكة العربية السعودية 2030 والتي تتمحور
                                حول التطور والوصول للألأحدث والألأفضل في وسائل النقل والخدمات لنساهم بشكل فعال في تطور
                                وإزدهار وطننا الحبيب.</p>
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="aboutarb.html">اقرأ أكثر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center fw-semi-bold">
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">
                        <div class="row g-0">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/experience.png" alt="">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">40</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/award.png" alt="">
                                    <h1 class="display-6" data-toggle="counter-up">30</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/product.png" alt="">
                                    <h1 class="display-6" data-toggle="counter-up">10381</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">Total Products</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/client.png" alt="">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">1082</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title bg-white text-start text-primary pe-3">Why Us!</p>
                    <h1 class="mb-4">لماذا اختارنا العملاء</h1>
                    <p class="mb-4 text-center">نحن نقدم منتجات ذات جودة عالية بأسعار في متناول الجميع. نحن نؤمن بتزويد
                        العملاء
                        بمنتجات عالية الجودة في متاجرنا. نحن نحاول تقليل تأثيرنا البيئي حيثما أمكن ذلك
                    </p>
                    <p dir="rtl"><i class="fa fa-check text-primary me-3"></i> أسعار مناسبة</p>
                    <p dir="rtl"><i class="fa fa-check text-primary me-3"></i> جودة عالية</p>
                    <p dir="rtl"><i class="fa fa-check text-primary me-3"></i> تغليف صديق البيئة (يرجى مراجعة هذي
                        النقطة)
                    </p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="aboutarb.html">تعرف اكثر</a>
                </div>

            </div>
        </div>
    </div>
    <!-- Features End -->

      <!-- Footer Start -->
      <div class="container-fluid bg-dark footer mt-5 py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5 fw-semi-bold">
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-4">موقع</h5>
                    <h5 class="text-white mb-4">المكتب الرئيسي </h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt "></i> الخرج – طريق الملك سعود</p>
                    <p class="mb-2"><i class="fa fa-phone-alt"></i> +966 115458080</p>
                    <p class="mb-2"><i class="fa fa-envelope"></i> info@askarmarkets.com</p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <h5 class="text-white mb-4">روابط سريعة</h5>
                    <a class="btn btn-link fw-semi-bold" href="https://alaskarentrp.com/">الصفحة الرئيسية</a>
                    <a class="btn btn-link fw-semi-bold" href="contactarb.html">تواصل معنا </a>
                    <a class="btn btn-link fw-semi-bold" href="aboutarb.html">من نحن </a>
                    <a class="btn btn-link fw-semi-bold" href="404.html"> فريقنا</a>
                </div>
                <div class="col-lg-3 col-md-6 fw-semi-bold">
                    <h5 class="text-white mb-4">اقسام الشركة</h5>
                    <a class="btn btn-link fw-semi-bold" href="retailarb.html">بيع التجزئة</a>
                    <a class="btn btn-link fw-semi-bold" href="alrawabitarb.html">خدمات النقل اللوجيستي </a>
                    <a class="btn btn-link fw-semi-bold" href="https://alaskarentrp.com/">التطوير العقاري والتجاري </a>
                </div>

                <!-- Socials stasrts Here -->
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-4">تابعنا على </h5>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-secondary rounded-circle me-2"
                            href="https://www.instagram.com/mohamedalaskarmarket/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2"
                            href="https://www.facebook.com/MohamedAlaskarMarket" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2"
                            href="https://www.snapchat.com/add/alaskarmarket?share_id=KI3FBXcZSEM&locale=en-IN"
                            target="_blank"><i class="fab fa-snapchat"></i></a>
                    </div>

                </div>
                <!-- Socials end -->
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid bg-secondary text-body copyright py-4">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    &copy;<a class="fw-semi-bold" href="#">2023 Mohamed AbdulAziz Alaskar Trading Co.</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i>
    </a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/script.js"></script>
</body>

</html>