<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/mohamed-abdulaziz-logo1.png" type="">
    <title>Mohamed Abdulaziz Alasker Trading Co - Quality Services At Best Price</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="alaskarentrp,alaskarentrp.com,askar market,Mohamed Abdulaziz Alasker Trading Co" name="keywords">
    <meta content="Mohamed Abdulaziz Alasker Trading Co. Supermarkets:Mohamed Alaskar Markets - 
    Quality Products At Best Price Logistic Services: Alrawabit Alhadetha For Logistic Services" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;500;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <script src="removeUrlExtension.js"></script>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row g-0 d-none d-lg-flex ">
            <div class="col-lg-6 ps-5 text-start">
                <div class="h-100 d-inline-flex align-items-center text-light">
                    <a class="me-2 fw-bold text-light" href="indexen.html">Eng</a>
                    <a class="btn btn-link text-light" href="indexen.html"><i><img src="images/mohamed-abdulaziz-t.png"
                                alt="translate icon"></i></a>
                    <a class=" text-light"><i class="fab fa-language"></i></a>
                    <a class="btn btn-link text-light" href="https://www.facebook.com/MohamedAlaskarMarket"
                        target="_blank"><i class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-link text-light"
                        href="https://www.snapchat.com/add/alaskarmarket?share_id=KI3FBXcZSEM&locale=en-IN"
                        target="_blank"><i class="fab fa-snapchat"></i></a>

                    <a class="btn btn-link text-light" href="https://www.instagram.com/mohamedalaskarmarket/"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                    <span class="me-2 fw-bold text-light">تابعنا على </span>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="h-100 bg-secondary d-inline-flex align-items-center text-dark py-2 px-4">
                    <span class="me-2 fw-bold"><i class="fa fa-phone-alt me-2"></i> اتصل بنا :</span>
                    <span> +966 11545 8080</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <a href="https://alaskarentrp.com/" class="navbar-brand d-flex align-items-center"><img width="200"
                src="images/mohamed-abdulaziz-fullogo.png" alt="mohammad alaskar company logo" /></a>
        </a>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" dir="rtl">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="https://alaskarentrp.com/"
                    class="nav-item nav-link {% if request.path == '/' %}active {% endif %}">الصفحة الرئيسية</a>
                <a href="aboutarb.html"
                    class="nav-item nav-link {% if request.path == 'aboutarb.html-us/' %}active {% endif %}">من نحن </a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> أقسام الشركة </a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="retailarb.html" class="dropdown-item">بيع التجزئة</a>
                        <a href="alrawabitarb.html" class="dropdown-item">خدمات النقل اللوجيستي </a>
                        <!--<a href="warehouse.html" class="dropdown-item">Commercial Real Estate</a>-->
                    </div>
                </div>
                <a href="contactarb.html"
                    class="nav-item nav-link {% if request.path == '/contact-us/' %}active {% endif %}">تواصل معنا </a>
                
                <a class="nav-item nav-link fw-bold bi-bi-globe" href="indexen.html">Eng</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- About Start -->
    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">


                    <!-- Carousel Start -->
                    <div class="container-fluid px-0 mb-5">
                        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="w-100" src="images/Alrawabit-truck4.jpg" alt="Image">
                                </div>
                                <div class="carousel-item">
                                    <img class="w-100" src="images/Alrawabit-truck5.jpg" alt="Image">
                                </div>
                                <div class="carousel-item">
                                    <img class="w-100" src="images/rawabit-truck3.jpg" alt="Image">
                                </div>
                                <div class="carousel-item">
                                    <img class="w-100" src="images/rawabit-truck2.png" alt="Image">
                                </div>
                                <div class="carousel-item">
                                    <img class="w-100" src="images/rawabit-truck1.png" alt="Image">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <!-- Carousel End -->

                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3 خدماتها اللوجيستية المتكاملة ">النقل البري
                    </p>
                    <h1 class="mb-4 ">الروابط الحديثة للنقل اللوجيستي</h1>
                    <p class="mb-4 fw-semi-bold">منذ اكثر من 30 سنة بدأت الروابط الحديثة في تقديم خدماتها اللوجيستية
                        المتكاملة عن
                        طريق توفير أسطول كامل من الشاحنات الحديثة وسائقين مدربين ومتخصصين في هذا المجال.
                        تتميز الروابط الحديثة بالسرعة والدقة وتحكم عالي بعملية النقل والتحميل و التخزين

                    </p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/service.png" alt="">
                            <h5 class="mb-3">الخدمات المقدمة</h5>
                            <span class="fw-semi-bold">
                                تملك الروابط الحديثة للخدمات اللوجيستية فريق متكامل مكون من 70+ شخص يعملون بتكامل وتناسق
                                لتحقيق اهداف عملائنا بدقة ونجاح

                            </span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/award.png" alt="">
                            <h5 class="mb-3">رؤيتنا</h5>
                            <span class="fw-semi-bold">إن رؤيتنا هي رؤية وطنية تهدف إلى مواكبة رؤية المملكة العربية
                                السعودية 2030 والتي
                                تتمحور حول التطور والوصول لأحدث وأفضل وسائل النقل والخدمات اللوجيستية لنساهم بشكل فعال
                                في تطور وإزدهار وطننا الحبيب</span>
                        </div>
                    </div>
                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="contactarb.html">اطلب عرض سعر </a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Branches Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3"> الفروع</p>
                <h1 class="mb-5">الروابط الحديثة للخدمات اللوجستية</h1>
            </div>
            <div class="row gx-4">
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="images/rawabit-truckorg1.png" alt="">
                            <div class="product-overlay">
                                <a class="text-secondary"><i class="bi bi-phone"></i>+966 11545 8080</a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="d-block h5" href="">الخرج </a>
                            <span class="text-primary me-1">info@rawabitlogistics.com</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="images/rawabit-truck1.png" alt="">
                            <div class="product-overlay">
                                <a class="text-secondary"><i class="bi bi-phone"></i>+966 11545 8080</a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="d-block h5" href=""> الرياض</a>
                            <span class="text-primary me-1">info@rawabitlogistics.com</span>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="images/truck_nafora.png" alt="">
                            <div class="product-overlay">
                                <a class="text-secondary"><i class="bi bi-phone"></i>+966 11545 8080</a>
                            </div>
                        </div>

                        <div class="text-center p-4">
                            <a class="d-block h5" href="">جِدَّة</a>
                            <span class="text-primary me-1">info@rawabitlogistics.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="images/rawabit-truckorg2.png" alt="">
                            <div class="product-overlay">
                                <a class="text-secondary"><i class="bi bi-phone"></i>+966 11545 8080</a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="d-block h5" href=""> الدمّام</a>
                            <span class="text-primary me-1">info@rawabitlogistics.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Branches End -->

        <!-- Gallery Images -->
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/alrawabit-prof2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/Alrawabit-profile1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/alrawabit-prof1.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Gallery Images Ends -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s ">
                    <p class=" bg-white  text-primary pe-3 fw-semi-bold" dir="rtl"> لماذا نحن</p>
                    
                    <h2 class="mb-4 text-end">أسباب قليلة تجعل الناس يختارون الروابط الحديثة!</h2>
                    <p class="mb-4 text-end fw-semi-bold">نحن فخورون لكوننا نملك اسطول متطور و شامل للمساعدة في عمليات نقل الشحنات سواء كانت
                        تتطلب نقل جاف او نقل مبرد.
                        يتكون أسطول الروابط الحديثة من 40 شاحنة للنقل العادي والمبرد والمفرزن وفريق صيانة متكامل لضمان
                        الاكتفاء الذاتي ولضمان سلامة المركبات وتقديم خدمة الصيانه السريعة لحالات الطوارئ لنتمكن من تقديم
                        خدمات لوجيستيه مضمونه وممتازة.

                    </p>
                    <p class="fw-semi-bold" dir="rtl" ><i class="fa fa-check text-primary me-3" ></i> اسطول متكامل مجهز بأنظمة تتبع المركبات </p>
                    <p class="fw-semi-bold" dir="rtl" ><i class="fa fa-check text-primary me-3"></i>الأمان والحماية هي اولويتنا </p>
                    <p class="fw-semi-bold" dir="rtl" ><i class="fa fa-check text-primary me-3"></i> الدقة والالتزام بالمواعيد</p>
                    <p class="fw-semi-bold" dir="rtl" ><i class="fa fa-check text-primary me-3"></i> شاحنات للنقل المبرد والمفرزن </p>
                    <p class="fw-semi-bold" dir="rtl" ><i class="fa fa-check text-primary me-3"></i> فريق صيانة كامل</p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="pdf/Alrawabitprofile.pdf"
                        target="_blank"> تنزيل ملف الشركة </a>
                </div>
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">
                        <div class="row g-0">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/experience.png">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">35</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="images/trucklogoo.png" alt="Truck logo">
                                    <h1 class="display-6" data-toggle="counter-up">200</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">The Fleet</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/award.png" alt="awards pic">
                                    <h1 class="display-6" data-toggle="counter-up">31</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="img/client.png" alt="client pic">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">150</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Features End -->

    <!-- Google Maps start  -->

    <div class="py-3 text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
        <iframe class="w-100 rounded"
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3628.1513564591396!2d46.79972547536205!3d24.583972178110788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjTCsDM1JzAyLjMiTiA0NsKwNDgnMDguMyJF!5e0!3m2!1sen!2ssa!4v1699361878598!5m2!1sen!2ssa"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

    <!-- Google Maps Ends -->


       <!-- Footer Start -->
       <div class="container-fluid bg-dark footer mt-5 py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5 fw-semi-bold">
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-4">موقع</h5>
                    <h5 class="text-white mb-4">المكتب الرئيسي </h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt "></i> الخرج – طريق الملك سعود</p>
                    <p class="mb-2"><i class="fa fa-phone-alt"></i> +966 115458080</p>
                    <p class="mb-2"><i class="fa fa-envelope"></i> info@askarmarkets.com</p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <h5 class="text-white mb-4">روابط سريعة</h5>
                    <a class="btn btn-link fw-semi-bold" href="https://alaskarentrp.com/">الصفحة الرئيسية</a>
                    <a class="btn btn-link fw-semi-bold" href="contactarb.html">تواصل معنا </a>
                    <a class="btn btn-link fw-semi-bold" href="aboutarb.html">من نحن </a>
                    <a class="btn btn-link fw-semi-bold" href="404.html"> فريقنا</a>
                </div>
                <div class="col-lg-3 col-md-6 fw-semi-bold">
                    <h5 class="text-white mb-4">اقسام الشركة</h5>
                    <a class="btn btn-link fw-semi-bold" href="retailarb.html">بيع التجزئة</a>
                    <a class="btn btn-link fw-semi-bold" href="alrawabitarb.html">خدمات النقل اللوجيستي </a>
                    <a class="btn btn-link fw-semi-bold" href="https://alaskarentrp.com/">التطوير العقاري والتجاري </a>
                </div>

                <!-- Socials stasrts Here -->
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-4">تابعنا على </h5>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-secondary rounded-circle me-2"
                            href="https://www.instagram.com/mohamedalaskarmarket/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2"
                            href="https://www.facebook.com/MohamedAlaskarMarket" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2"
                            href="https://www.snapchat.com/add/alaskarmarket?share_id=KI3FBXcZSEM&locale=en-IN"
                            target="_blank"><i class="fab fa-snapchat"></i></a>
                    </div>

                </div>
                <!-- Socials end -->
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid bg-secondary text-body copyright py-4">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    &copy;<a class="fw-semi-bold" href="#">2023 Mohamed AbdulAziz Alaskar Trading Co.</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i>
    </a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/script.js"></script>
</body>

</html>